
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-header {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .App-link {
    color: #61dafb;
  }

  button {
    font-size: calc(10px + 2vmin);
  }

} */


@charset "UTF-8";
/* CONTACTO */
.boton--enviar, .boton--resetear {
  width: 130px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }

.boton:hover {
  background-color: #4CAF50;
  color: white; }

.boton--enviar {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid gray; }

.boton--enviar:hover {
  background-color: gray;
  color: white; }

.boton--resetear {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid darkgray; }

.boton--resetear:hover {
  background-color: darkgray;
  color: white; }

  .contContacto {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .contContacto .recibirCon {
    text-align: left;
    justify-content: left; }

/* FIN CONTACTO */

/* ITEM DETAIL */
.itemDetail{
  padding-top: 40px;
  padding-bottom: 40px;
}
/* FIN ITEM DETAIL */

/* INDEX */
.labelCarousel {
  font-family: 'Prompt', sans-serif;
  font-style: italic;
  text-align: center;
  padding-top: 10px; }
  .labelCarousel img {
    width: 5%;
    height: auto; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  .carousel-item .labelSliderEnvio {
    position: absolute;
    right: 15%;
    top: 50px;
    left: 55%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    .carousel-item .labelSliderEnvio p {
      margin-top: 30px;
      font-size: 25px;
      color: #db8585;
      -webkit-text-stroke: 0.8px #ca5656;
      font-weight: bolder; }
    .carousel-item .labelSliderEnvio h2 {
      font-size: 35px;
      color: #ca5656;
      -webkit-text-stroke: 0.8px #db8585;
      font-weight: bolder; }
  .carousel-item .labelSliderServicios {
    position: absolute;
    right: 55%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    -webkit-text-stroke: 0.8px white;
    font-weight: bolder; }
    .carousel-item .labelSliderServicios p {
      margin-top: 15px;
      font-size: 25px;
      color: #f06e0f;
      -webkit-text-stroke: 0.8px #e31006; }
    .carousel-item .labelSliderServicios h2 {
      font-size: 35px;
      color: #e31006;
      -webkit-text-stroke: 0.8px #f06e0f;
      margin-bottom: 15px; }
  .medioDePago {
    text-align: center;
    font-size: 1.5rem;
    color: orange;
    padding-top: 50px;
    padding-bottom: 50px; }
  .medioDePago h3 {
    padding-bottom: 30px; }

  .marcas {
    text-align: center;
    font-size: 1.5rem;
    color: orange;
    padding: 10px; }
  .marcas img {
    padding: 10px; }
/* FIN INDEX */

/* PRODUCTOS*/ 
#arriba{
  text-align: right;
  color: gray;
  padding-right: 20px;
}
.contProductos .groupCheckbox p {
  text-align: center;
  color: #f06e0f;
  font-weight: bolder; }

.contProductos .titulosCategorias {
  font-size: 25px;
  text-align: center;
  color: #f06e0f;
  padding-top: 20px;
  padding-bottom: 20px; }

.contProductos .imgCentrado {
  text-align: center;
  padding-top: 20px; }

  #boton-carrito {
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: rgb(225, 76, 65);
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(225, 76, 65);
    background-color: white;
}
#boton-carrito:focus {
    outline: none;
}
.contenedorCarrito{
  padding-top: 30px;
  padding-left: 55px;
}
button {
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
}
.fas {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.fa, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-times-circle:before {
  content: "\f057";
}
.fa-trash-alt:before{
  content:"\f2ed"
}

.carritoImg{
  width: 50px;
  height: auto;
  padding-right: 5px;
}

.anadirCarritoImg{
  width: 40px;
  height: 40px;
}

#productosContenedor{
  max-width: 1200px;
  margin: 60px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imgProducts{
  width: auto;
  height: 20rem;
}
.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px; 
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}
.bottomP{
  padding-bottom: 15px;
}
.btnAnadirCarrito{
  bottom: 15px !important;
}
#carritoConfirmar{
  font-weight: bold;
  background-color: white;
  color: red;
  border: 2px solid red; }

#carritoConfirmar:hover {
  background-color: red;
  color: white; }
.card{
  text-align: center;
}

/* GENERALES */
.alignCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.row {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.paddingRL {
  padding-left: 0px;
  padding-right: 0px; }

  .loadingImage{
    animation: loadingImage-spin 1s ease-in 0s infinite;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  @keyframes loadingImage-spin {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
/* FIN GENERALES */

/* HEADER */
.header {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  position: sticky;
  z-index: 1;
  font-size: 20px;
}
.nav-link{
  color: rgba(255,255,255,100%) !important; 
}
.imgCartWidget:hover{
  fill: white;
  transform: scale(1.5,1.5);
}
.navbar-collapse {
  align-items: center;
  justify-content: center; }

.cartWidget{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.cartWidget:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* FIN HEADER */

/* FOOTER */
.footer {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; }
  .footer .row {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  }
  .footer .colFooter {
    color: white;
    text-decoration: none; }
  .footer .centrado {
    text-align: center; }
  .footerD{
    padding-top: 10px;
  }

/* FIN FOOTER */

/* vista mobile */
@media only screen and (min-width: 0px) and (max-width: 969.9px) {
  .header {
    text-align: center; }
  .labelCarousel {
    font-size: 25px; }
  .carousel {
    display: none; }
  .imgSliderMobile {
    position: relative;
    display: inline-block;
    text-align: center; }
    .imgSliderMobile .labelSliderEnvioV h2 {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: underline;
      font-size: 30px; }
  .imgMarcas {
    width: 38.5%;
    height: auto; }
  .tituloContacto img {
    width: 365px;
    height: auto; }
  .footer {
    text-align: center; }
    .footer .footerD {
      display: none; } }

/* vista desktop */
@media only screen and (min-width: 970px) {
  .nav-item {
    padding-left: 30px;
    padding-right: 30px; }
  .imgSliderMobile {
    display: none; }
  .labelCarousel {
    font-size: 35px; }
  .carousel-item .imgCarousel {
    width: 1500px;
    height: 320px; }
  .form-inline {
    padding-left: 30px; }
  .imgFilas {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: 250px;
    transition: all 1s; }
  .imgFilas:hover {
    transform: translateY(-15px); }
  }
